<!doctype html>
<html ng-app="library">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Library</title>
    <meta name="description" content="Library">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-controller="IndexCtrl">
<h1>Library</h1>

<ul ng-repeat="book in books" ng-cloak>
    <li>
        <h2>{{book.title}}</h2>

        <p>from {{book.author}}</p>

        <p>{{book.content}}</p>
        <button ng-click="edit($index)">edit</button>
        <button ng-click="delete(book.id)">delete</button>
    </li>
</ul>

<form ng-cloak>
    <label for="title">Title</label>
    <input type="text" id="title" ng-model="book.title">
    <label for="author">Author</label>
    <input type="text" id="author" ng-model="book.author">
    <label for="content">Text</label>
    <input type="text" id="content" ng-model="book.content">
    <button ng-click="save()">save</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script>
<script type="text/javascript">
    var app = angular.module('library', []);

    var url = 'books/';

    app.controller('IndexCtrl', function ($scope, $http) {
        $scope.books = [];

        $scope.book = {
            title: "title",
            author: "author",
            content: "content"
        };

        $scope.edit = function (num) {
            $scope.book = $scope.books[num];
        };

        $scope.refresh = function () {
            $http.get(url).success(function (data, status) {
                $scope.books = data;
            });
        };

        $scope.save = function () {
            if ($scope.book.id) {
                $http.put(url + $scope.book.id, $scope.book).success(
                        function (data, status) {
                            $scope.refresh();
                        }
                );
            } else {
                $http.post(url, $scope.book).success(
                        function (data, status) {
                            $scope.books.push(data);
                        }
                );
            }
            $scope.book = {};
        };

        $scope.delete = function (id) {
            $http.delete(url + id).success(
                    function () {
                        $scope.refresh();
                    }
            );
        };

        $scope.refresh();
    });

</script>
</body>
</html>