<html>
<head>
    <title>{{getUpdated}}</title>
    <style>
    </style>
</head>
<body>
<h1>Error {{code}}</h1>
    <p>{{message}}</p>
    <p><a href="/">create new</a></p>
    <p><a href="/list">LIST</a></p>
</h1>
</body>
</html>