<html>
<head>List</head>
<body>
<p>
    <a href="/">CREATE</a>
</p>
<ul>
    {{#notes}}
    <li>
        {{getUpdatedAsString}} <a href="/{{getId}}">{{firstLine}}</a>

        <form action="/delete/{{getId}}" method="POST">
            <button type="submit">delete</button>
        </form>
    </li>
    {{/notes}}
</ul>
</body>
</html>