<html>
    <head>
        <title>{{getUpdated}}</title>
        <style>
            body,html,form,textarea{
                margin: 0;
                padding: 0;
                font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
            }

            form{
                width: 100%;
                height: 100%;
            }

            textarea,
            textarea:focus,
            textarea:active{
                width: 100%;
                border: 0;
                top: 30px;
                bottom: 0px;
                position: absolute;
            }

            #controls{
                height: 20px;
            }
        </style>
    </head>
<body>
    <form action="/{{getId}}" method="POST">
        <div id="controls">
            <button type="submit">save</button>
            <a href="/">NEW</a>
            <a href="/list">LIST</a>
        </div>
        <input type="hidden" name="updated" value="{{getUpdated}}">
        <textarea autofocus="true" name="content">{{getContent}}</textarea>

    </form>
</body>
</html>